@font-face {
    font-family: 'maru';
    src: url(./font/KosugiMaru-Regular.ttf);
}

body{
    font-family: 'maru';
    margin:0;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
#myVideo{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#bloc{
    display: flex;
    flex-direction: column;
    width:500px;
    height: 400px;
    backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 29px; 
    box-shadow: 35px 35px 68px 0px rgba(156, 156, 168, 0.5), inset -8px -8px 16px 0px rgba(156, 156, 168, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}
#show{
    width: 150px;
    height: 150px;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}
#input{
    width: 150px;
    height: 50px;
    margin: auto;
    font-size:40px;
    font-weight: bold;
    font-family: 'maru';
    text-align: center;
    background-color: rgba(77, 17, 70, 0.156);
    border:none;
    border-radius: 10px;
}
.center{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-family: 'maru';
    font-weight: bold;
    font-size: 20px;
}
.note{
    margin:auto;
}
@keyframes faux {
    0% {
      background-color: red;
    }
    100% {
      background-color: transparent;
    }
}
  @keyframes vrai {
    0% {
      background-color: green;
    }
    33%{
        background-color: green;
    }
    100% {
      background-color: transparent;
    }
}